.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid grey;
}

.chat-logout-button {
  align-self: flex-end;
  margin: 3px;
}
