<form class="form" (ngSubmit)="onLogin()" [formGroup]="loginForm">
  <div>

      <mat-form-field appearance="fill" class="full-width">
         <mat-label>Nom d'usager</mat-label>
         <input matInput name="username" type="text" formControlName="username" placeholder="Entrez votre nom d'utilisateur" />
         <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Nom d'utilisateur requis.
         </mat-error>
      </mat-form-field>
  </div>

  <div>
         <mat-form-field appearance="fill" class="full-width">
         <mat-label>Mot de passe</mat-label>
         <input matInput name="password" type="password" formControlName="password" placeholder="Entrez votre mot de passe" />
         <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Mot de passe requis.
         </mat-error>
    </mat-form-field>
  </div>

  <div>
      <button mat-flat-button color="primary" type="submit">Connexion</button>
  </div>
</form>

